@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
    font-family: 'Poppins';
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

header {
    grid-area: header;
    height: 80px;
    padding: 1em 6em;
    box-shadow: 0px 2px 5px grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    position: sticky;
    top: 0;
    background-color: rgb(20, 20, 20);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;

}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

#logoWebsite {
    height: 60px;
}

header h1 {
    flex-basis: 40%;
}

header h1 a {
    text-decoration: none;
    color: white;
}

header nav {
    flex-basis: 60%;
    font-size: Larger;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 1em;
    color: white;
}

header nav a {
    text-decoration: none;
    color: white;
}

header nav a:hover {
    text-shadow: 0px 0px 6px white;
}

main {
    grid-area: main;
}

.ProfilPerusahaan {
    display: flex;
}

.ProfilPerusahaan > div {
    margin-left: 3rem;
}

.alamat-perusahaan {
    font-size: .7em;
    font-weight: 400;
    margin-left: 5px;
}

.ProfilPerusahaan img {
    height: 75px;
    width: auto;
}

.shadow {
    box-shadow: 0px 15px 10px -15px grey;    
    margin: 1rem 10rem 3rem 10rem;
    padding: 0 1.5rem 1% 1.5rem;
}

.ProfilPerusahaan {
    box-sizing: border-box;
    margin: 0 0 0 2em;
}

.daftar-lowongan {
    box-sizing: border-box;
    margin: 0 10rem 3rem 10rem;
}

.daftar-lowongan > ul {
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style: none;
    display: grid;
    /* grid-template-columns: auto auto; */
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.daftar-lowongan > ul > .lowongan-card:hover {
    /* background-color: #f6f7fc; */
    background-color: #EFF1F3;
}

.lowongan-card:hover .judul-lowongan {
    text-decoration: underline;
}


.daftar-lowongan > ul > .lowongan-card > a {
    padding: 1.6rem;
    border: 1px solid #dedede;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* box-shadow: inset 0 0 0 1px #dedede; */
    box-shadow: 0 0 5px #dedede;
}

.deskripsi-lowongan {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Jumlah baris maksimal */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.total-pelamar {
    margin-top: 1rem;
    font-size: .8em;
}

footer {
    border-top: 1px solid #dedede;
    box-sizing: border-box;
    width: 100%;
    grid-area: footer;
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 2em 5em 1em 5em;
    margin-top: 3rem;
}

.FooterContainer {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 5em;
    justify-content: space-around;
}

.FooterLogo {
    box-sizing: border-box;
    flex-basis: 20%;
}
.FooterDescription {
    box-sizing: border-box;
    flex-basis: 50%;
    text-align: justify;
}
.FooterRegulator {
    box-sizing: border-box;
    flex-basis: 20%;
    display: flex;
    text-align: right;
    flex-direction: column;
}

.FooterBottom {
    text-align: center;
    font-size: smaller;
}

.LembagaPengawas {
    display: flex;
    gap: 1em;
    align-self: flex-end;
    align-items: center;
}

.LembagaPengawas #Komidigi {
    height: 45px;
    align-self: center;
}

.LembagaPengawas #KementerianKetenagakerjaan {
    height: 60px;
    align-self: center;
}