@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
    font-family: Poppins;
}

main {
    display: flex;
    align-content: center;
    justify-content: center;
    
}

.feedback {
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    margin: 5% 30%;
    padding: 3em;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#yay {
    font-size: xx-large;
    font-weight: bold;   
}

.kembali {
    text-align: center;
    margin-top: px;
    background-color: #7d3cff;
    color: rgb(255, 255, 255);
    padding: 1em;
    border-radius: 10px;
}

.kembali a {
    color: white;
    font-weight:;
    text-decoration: none;
}

.kembali a:hover {
    text-decoration: underline;
}


body {
    padding: 0px;
    margin: 0px;
}

header {
    grid-area: header;
    height: 80px;
    padding: 1em 5em;
    box-shadow: 0px 2px 5px grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    position: sticky;
    top: 0;
    background-color: rgb(20, 20, 20);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;

}

header h1 {
    flex-basis: 40%;
}

header h1 a {
    text-decoration: none;
    color: white;
}

header nav {
    flex-basis: 60%;
    font-size: Larger;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 1em;
    color: white;
}

header nav a {
    text-decoration: none;
    color: white;
}

header nav a:hover {
    text-shadow: 0px 0px 6px white;
}

footer {
    box-sizing: border-box;
    width: 100%;
    grid-area: footer;
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 2em 5em 1em 5em;
}

.FooterContainer {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 5em;
    justify-content: space-around;
}

.FooterLogo {
    box-sizing: border-box;
    flex-basis: 20%;
}

.FooterDescription {
    box-sizing: border-box;
    flex-basis: 50%;
    text-align: justify;
}

.FooterRegulator {
    box-sizing: border-box;
    flex-basis: 20%;
    display: flex;
    text-align: right;
    flex-direction: column;
}

.FooterBottom {
    text-align: center;
    font-size: smaller;
}

.LembagaPengawas {
    display: flex;
    gap: 1em;
    align-self: flex-end;
}

.LembagaPengawas #Komidigi {
    height: 45px;
    align-self: center;
}

.LembagaPengawas #KementerianKetenagakerjaan {
    height: 60px;
    align-self: center;
}